* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1630px !important;
  }
}

.cursor {
  cursor: pointer
}
.hd {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

body {
  font-family: "Lato", sans-serif;
}